mixin s-how-work()
	// start s-how-work
	+b.SECTION.s-how-work.section#s-how-work&attributes(attributes)
		.container
			h2
				span как мы работаем
				| от заявки до заказа
			.row
				.col-xl-3.col-md-6
					+e.item--line
						+e.img-wrap
							img(src='img/@2x/how-i1.png' alt='')
						+e.title вы звоните нам
						p чтобы заказать справку
						p с 09:00 - 22:00
						+e.A.phone(href='tel:+74951084614') +7 (495) 
							span 108-46-14
						p или оформляете заявку с сайта
						+e.btn.btn.scroll-link(href='#s-order') Оформить заявку
						+e.light-text Прием заявок через форму заказа осуществляется ежедневно без выходных и праздничных дней. Круглосуточно.
				.col-xl-3.col-md-6
					+e.item--line
						+e.img-wrap
							img(src='img/@2x/how-i2.png' alt='')
						+e.title Консультируем
						p Ожидайте звонка оператора. Мы уточним все необходимые детали и сразу приступим к оформлению документа.
				.col-xl-3.col-md-6
					+e.item--line
						+e.img-wrap
							img(src='img/@2x/how-i3.png' alt='')
						+e.title оформляем
						p для Вас справку.
						+e.light-text В государственных учреждениях получение справки затянется на неопределенное время, наши специалисты все сделают в течение суток
				.col-xl-3.col-md-6
					+e.item
						+e.img-wrap
							img(src='img/@2x/how-i4.png' alt='')
						+e.title Доставляем
						p Вашу справку и Вы оплачиваете нашу работу.
						+e.light-text Курьерская служба доставляет справки только по рабочим дням!
						+e.light-text Доставка за МКАД возможна с доплатой от 500 до 1000 рублей! Стоимость доставки за МКАД рассчитывается индивидуально!
	// end s-how-work