mixin s-question(t)
	// start s-question
	+b.SECTION.s-question.bg-wrap.section&attributes(attributes)
		if t == '1'
			+pic('s-q1.jpg','bg')(class='picture-bg')
			.container
				.row
					.col-lg-8
						h2
							span а МОЖЕТ САМОМУ 
							| ПОЙТИ В ПОЛИКЛИНИКУ?
						+e.subtitle Вариант! Но это самый длительный способ получения справки.
						p Для начала, вам придётся посетить терапевта и после обойти специалистов, каждый из которых вынесет свой вердикт. Список следующий:
						ul
							li дерматовенеролог;
							li кардиолог (ЭКГ);
						p Иногда терапевт или администрация физкультурно-оздоровительного комплекса могут решить, что вышеперечисленных обследований недостаточно для достижения цели. Тогда выдача 
							strong справки 073 для спортивных соревнований 
							| откладывается до момента, когда человек пройдет расширенную диагностику.
		if t == '2'
			+pic('s-q2.jpg','bg')(class='picture-bg')
			.container
				.row.justify-content-end
					.col-lg-7
						h2 Долго, А как насчёт 
							span платных КЛИНИК?
						+e.text-wrap
							+e.subtitle Да, документ можно получить гораздо быстрее, но&nbsp;в&nbsp;этом&nbsp;правиле есть исключение!
							p Вам придется предоставлять платным специалистам данные об ЭКГ либо пройти обследование кардиолога в медицинском центре, в который вы обратитесь. Кроме того, итоговая стоимость заключения о допуске к спортивным соревнованиям окажется более внушительной, чем в государственной поликлинике или физкультурном диспансере.
			
	// end s-question