mixin s-order()
	// start s-order
	+b.SECTION.s-order.bg-wrap.section#s-order&attributes(attributes)
		+pic('order-bg.jpg','bg')(class='picture-bg')
		.container
			.row
				.col
					h2 оформите заявку
						span прямо сейчас
					+e.wrapper
						+e.item
							+e.img-wrap
								img(src='img/@2x/order-i.png' alt='')
							p Любая медицинская справка подлежит регистрации. Документ имеет учетный порядковый номер.
						+e.item
							+e.img-wrap
								img(src='img/@2x/order-i.png' alt='')
							p Оформлением документа будет заниматься действу-ющий врач из государственной или частной клиники. За каждую выданную бумагу врачи ежемесячно отчитываются.
						+e.item
							+e.img-wrap
								img(src='img/@2x/order-i.png' alt='')
							p Документ содержит название спортивной секции, в соревнованиях которой вы планируете учавствовать. В справке будет указано, что вы допускаетесь для участия в соревнованиях той секции, которую вы впишите в заявке.
				.col-xl-4
					+form-wrap
						+input('Фамилия, Имя, Отчество*')
						+input('Дата рождения')
						+input('Вид спорта / соревнований')
						+input('Адрес прописки или регистрации')
						+input('Серия и номер полиса ОМС (при наличии)')
						+input('Введите номер телефона*')
						+input('Место достаки (станция метро или адрес), джелаемое время','textarea')
						+e.btn.btn(type="submit") Оформить заявку
						+e.add * - обязательные поля
	// end s-order