mixin s-rew()
	// start s-rew
	+b.SECTION.s-rew.bg-wrap.section#s-rew&attributes(attributes)
		<div class="parallax-window" data-parallax="scroll" data-image-src="img/@2x/rew-bg.jpg"></div>
		.container
			h2 
				span Отзывы клиентов 
				| о нашей работе*
			+e.slider--js
				.slide
					+e.item
						+e.item-header
							+e.img-wrap
								img(src='img/@2x/slider1.jpg' alt='')
							+e.title Никита
						+e.text Решил учавствовать в соревнованиях по тайскому боксу, и даже не думал, что попросят предоставить какую-то справку, о том что у меня нет медицинских противопоказаний.  Нашел ваш сайт в интернете и потратив всего пару минут на разговор с оператором заказал ее по телефону. Очень крутой сервис, буду теперь заказывать все справки только у вас!
				.slide
					+e.item
						+e.item-header
							+e.img-wrap
								img(src='img/@2x/slider2.jpg' alt='')
							+e.title Артем
						+e.text Давно планировал учавствовать в соревнованиях в бегу в Москве… Помимо подготовки, они еще и справку с меня потребовали о том, что с сердцем у меня все в порядке и я могу учавствовать в соревнованиях. Я конечно в шоке, но спасибо что есть ваш сайт. Вы мне очень помогли, избавили от головной боли и кучи потраченного впустую времени.
				.slide
					+e.item
						+e.item-header
							+e.img-wrap
								img(src='img/@2x/slider3.jpg' alt='')
							+e.title Владимир
						+e.text Занимаюсь плаванием уже много лет. И вот наконец мне предложили выступить за свой город в соревнованих. Попросили принести справку о моем состоянии здоровья, чтобы учавствовать в соревнованиях. Пошел в физкультурный диспансер – записали на прием через месяц. Нашел вас, заказал справку на сайте, привез курьер. Теперь хожу на плавание спокойно ;) Спасибо !
				.slide
					+e.item
						+e.item-header
							+e.img-wrap
								img(src='img/@2x/slider4.jpg' alt='')
							+e.title Наталья
						+e.text Я уже давно занимаюсь танцами, но каждый год у нас требуют справку о допуске к соревнованиям по танцам. Уже 3 раза у вас беру справку и все мои подруги тоже, у всех все проходит без каких-либо вопросов. Благодарю вас за качественную работу на протяжении 3 лет, буду и дальше к вам обращаться несомненно ! Кстати мне уже предоставили скидку как постоянному клиенту )
				.slide
					+e.item
						+e.item-header
							+e.img-wrap
								img(src='img/@2x/slider5.jpg' alt='')
							+e.title Антон
						+e.text Спасибо вашему сайту за оказание помощи в получении справки для допуска к соревнованиям. Занимаюсь футболом, постоянно прохожу мед обследования у местного врача, но дополнительно просят справку при каждом серьезном матче. Вот уже который раз обращаюсь на ваш сайт и получаю справку за 1 день с доставкой курьером до дома. Очень удобный и полезный сайт !
				.slide
					+e.item
						+e.item-header
							+e.img-wrap
								img(src='img/@2x/slider6.jpg' alt='')
							+e.title Валерия
						+e.text Никогда бы не подумала, что для участия в соревнованиях нужно нести какие-то справки. Но реальность такова, что приходится доказывать состояние своего здоровья. Очень круто, что я нашла вас в интернете. Не знаю что бы я делала без вас ! Ходить по поликлиникам это просто бред, особенно когда ничего не болит. Все советую заказывать справки только тут, все проходит без проблем !
			+e.add * данные отзывы являются индивидуальными мнениями клиентов
	// end s-rew