
mixin mob-mnu()
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+add-mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.static-style.block-with-lazy
		.container
			.row
				+e.img-col
					+e.A.title-block(href='#')
						+e.title
							+e.fixed-title.logo-title spravka
								span sport.net
							+e.static-title.logo-title spravka
								span sport.net
						+e.subtitle Для соревнований
				+e.mnu-col
					+mnu()
					+add-mnu()
				+e.phone-col
					+e.phone-block
						+e.A.number(href='tel:+74951084614') +7 (495) 
							span 108-46-14
						+e.time с 09:00 до 22:00
				+e.btn-col.col-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
				
					
	// end top-nav