
mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-xl-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-xl-auto.col
					+e.A.title-block(href='#')
						+e.title
							img.res-i(src='img/@2x/logo.png' alt='')
						+e.subtitle Для соревнований
				.col.d-none.d-xl-block
					+mnu()
				.col-xl-auto.col
					+e.phone-block
						+e.A.number(href='tel:+74951084614') +7 (495) 
							span 108-46-14
						+e.time с 09:00 до 22:00
					
	// end top-nav