mixin s-garant()
	// start s-garant
	+b.SECTION.s-garant.section#s-garant&attributes(attributes)
		.container
			+e.main-block
				+e.text Официальная справка для соревнований на Ваше имя будет зафиксирована в общем документообороте системы здравоохранения. Документ выдержит любые проверки, в том числе и запросы по факсу.
	// end s-garant