.header-block {
	padding: rem(130) 0 rem(80);
	@include media-breakpoint-up(lg){
		padding: rem(180) 0 rem(130);
	}
	display: block;
	
	&__main-wrap{
		max-width: rem(890);
	}
	h1{
		@include media-breakpoint-down(md){
			text-align: center;
		}
		font-weight: 900;
		margin-bottom: rem(25);
		span{
			color: $primary;
			display: block;
		}
	}
	.row{
		margin-bottom: rem(40);
	}
	&__img-col{
		@include media-breakpoint-down(md){
			margin-bottom: rem(20);
			display: flex;
			justify-content: center;
		}
	}
	&__img-wrap{
		box-shadow: 0px rem(8) rem(20) rgba(0,0,0,0.1);
	}
	&__price-block{
		@include media-breakpoint-down(md){
			margin-top: rem(-90);
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(45);
		}
		width: rem(125);
		height: rem(125);
		border-radius: 50%;
		background-color: $secondary;
		box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__price{
		color: #fff;
		font-weight: 700;
		font-size: rem(28);
		line-height: 1;
		margin-bottom: rem(3);
	}
	&__subprice{
		font-size: rem(20);
		color: #fff;
		font-weight: 700;
		line-height: 1;
	}
	&__side-title{
		font-size: rem(28);
		color: $primary;
		font-weight: 900;
		line-height: rem(39);
	}
	&__text{
		font-size: rem(24);
		line-height: rem(34);
	}
	&__btn{
		@extend .btn;
		max-width: rem(305);
	}


	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}