mixin s-list()
	// start s-list
	+b.SECTION.s-list.bg-wrap.section#s-list&attributes(attributes)
		<div class="parallax-window" data-parallax="scroll" data-image-src="img/@2x/list-bg.jpg"></div>
		.container
			h2 ДРУГИЕ СПРАВКИ 
				span КОТОРЫЕ МЫ ОФОРМЛЯЕМ
			+e.subtitle Мы предлагаем только официальные документы, которые не вызовут вопросов при проверке и не создадут вам никаких сложностей. <br>Мы оформляем любые медицинские справки. В этом списке представлены только наиболее популярные.
			+e.row-wrap
				.row
					.col-lg-6
						+e.TABLE.table
							thead
								tr
									th Наименование
									th Цена, руб.
							tbody
								mixin table-i(t, p)
									tr
										td=t
										td=p
								+table-i('Справка 095/у','1500')
								+table-i('Справка 026/у','5000')
								+table-i('Справка 082/у','2000')
								+table-i('Справка 001-гс/у','2000')
								+table-i('Справка 027/у','2000-5000')
								+table-i('Справка 070/у','2000')
								+table-i('Справка 072/у','2500')
								+table-i('Справка 076/у','2500')
								+table-i('Справка 079/у','2000')
								+table-i('Справка 063/у','3500')
								+table-i('Справка 302 н','2000')
								+table-i('Справка 989','2500')
								+table-i('Справка 164','3000')
								+table-i('Справка 454','2000')
								+table-i('Справка 402','1200')
								+table-i('Справка 297','2000')
								+table-i('Справка в бассейн','1000')
								+table-i('Справка КЭК','1500-3000')
								+table-i('Справка 086/у','1500')
								+table-i('Справка для занятий спортом','1500')
								+table-i('Академический отпуск','5000')
								+table-i('Выход из академического отпуска','2500')
					.col-lg-6
						+e.TABLE.table
							thead
								tr
									th Наименование
									th Цена, руб.
							tbody
								mixin table-i(t, p)
									tr
										td=t
										td=p
								+table-i('Справка на инвалидность','14000')
								+table-i('Справка о прививках','2000-6000')
								+table-i('Кодирование от алкоголизма','1000')
								+table-i('Справка об эпидокружении','2000')
								+table-i('Справка для поездки в Китай','3500-5000')
								+table-i('Справка для ГАИ 003-в/у','5500')
								+table-i('Справка на оружие 002-о/у','5500')
								+table-i('Справка свободной формы','1500-5000')
								+table-i('Результаты анализов','1500-3000')
								+table-i('Справка от фтизиатра','1500')
								+table-i('Справка от гинеколога','1500')
								+table-i('Справка от стоматолога','1500')
								+table-i('Справка от терапевта','1500')
								+table-i('Справка о беременности','1500')
								+table-i('Справка из НД / ПНД','2000')
								+table-i('Справка для ФМС','5500')
								+table-i('Флюорография','1500')
								+table-i('Справка ХТИ 003-о/у','2000')
								+table-i('Справка для работы на высоте','2000')
								+table-i('Справка для надомного обучения','2000')
								+table-i('Справка от педиатра','1500')
								+table-i('Освобождение от физкультуры','1500')
				.row.justify-content-center
					.col-auto
						+e.phone-block
							+e.img-wrap
								img(src='img/@2x/phone-i.png' alt='')
							+e.text-block
								+e.text Для заказа любой справки звоните по телефону с 09:00 до 22:00:
								+e.A.phone(href='tel:+74951084614') +7 (495) 
									span 108-46-14
	// end s-list